body {
  background: linear-gradient(to bottom, #b81d1d 0%, #53208c 100%);
}

img {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  animation: bob 1s ease-in-out infinite;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
h1 {
  font-size: 50px;
  text-align: center;
  color: black;
}

.gradient {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ffff00,
    #00ff00,
    #0000ff,
    #d988ff
  );
  background-size: 600% 600%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  animation: sway 1s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
h2 {
  text-align: center;
}

h3 {
  animation: sway 1s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
h3 {
  text-align: center;
}

p {
  animation: sway 1s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
p {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  color: white;
}

a {
  color: #cf82ff;
  text-decoration: none;
}

a:hover {
  color: #e9c4ff;
  text-decoration: underline;
}

ul {
  animation: sway 1s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.house {
  width: 150px;
  height: 309px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heathers {
  width: 300px;
  height: 412px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bfspin {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tomie {
  width: 300px;
  height: 412px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sonia {
  width: 500px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  border: 10px solid #aaffb5;
  border-image-width: 4px;
}
